<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096807941-h3bc2r91rimlvu0cml9am8b2ddd29bri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096807941-h3bc2r91rimlvu0cml9am8b2ddd29bri</string>
	<key>API_KEY</key>
	<string>AIzaSyDh069RsyFWkcAT8RDSz8vOfY0qFCoZZ2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1096807941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week7NetworkingDiscussion</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-todo-app-pdfuentes</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-todo-app-pdfuentes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096807941:ios:7181b52430dd44540b8e6c</string>
</dict>
</plist>